# https://github.com/ageitgey/face_recognition/issues/1041#issuecomment-609061215
opencv-contrib-python==4.2.0.34
numpy==1.18.3

# Barcode:
pyzbar
Pillow==7.1.1
# https://github.com/zxing/zxing
zxing
imutils

# OCR
pytesseract==0.3.4

scipy
